1) Explain about data types?
-  Data types are the building blocks of Python programming, defining how data is stored and manipulated.
* Python has several built-in data types, such as numbers, strings, lists, tuples, dictionaries, and more.
* Numbers can be integers, floats, or complex, representing whole numbers, decimals, or imaginary numbers.
* Strings are sequences of characters enclosed in quotes, used for text manipulation and formatting.
* Lists and tuples are ordered collections of items, separated by commas and enclosed in brackets or parentheses.
* Dictionaries are unordered collections of key-value pairs, enclosed in curly braces and accessed by keys.

2) Explain about integers with examples?
-  Python int is the whole number, including negative numbers but not fractions. In Python, there is no limit to how long an integer value can be.

In [ ]:
num = -8

# print the data type
print(type(num))

<class 'int'>

In [ ]:
a = 5
b = 6

# Addition
c = a + b
print("Addition:",c)

d = 9
e = 6

# Subtraction
f = d - e
print("Subtraction:",f)

g = 8
h = 2

# Division
i = g // h
print("Division:",i)

j = 3
k = 5

# Multiplication
l = j * k
print("Multiplication:",l)

m = 25
n = 5

# Modulus
o = m % n

print("Modulus:",o)

p = 6
q = 2

# Exponent
r = p ** q
print("Exponent:",r)

Addition: 11
Subtraction: 3
Division: 4
Multiplication: 15
Modulus: 0
Exponent: 36

In [ ]:
b = 0b11011000 # binary
print(b)

o = 0o12 # octal
print(o)

h = 0x12 # hexadecimal
print(h)

216
10
18

3) Explain about float with examples?
-  In Python, the float type represents floating-point numbers, which are numbers that can contain a fractional part.
* The float function in Python is used to convert a number or a string into a floating-point number.

In [ ]:
# convert integer value to float
num = float(10)
print(num)

10.0

In [ ]:
# python code to convert int
# float
number = 90
result = float(number)

print(result)

90.0

In [ ]:
print(float(21.89))

21.89

In [ ]:
print(float(8))

8.0

4) Explain about complex with examples?
-  Python represents complex numbers using a real part and an imaginary part, with the imaginary part followed by a j.

In [ ]:
import cmath
z = 1 + 1j
z_polar = cmath.polar(z)
print(z_polar)

(1.4142135623730951, 0.7853981633974483)

In [ ]:
import math
r = round(z_polar[0], 2)
theta = round(z_polar[1], 2)
theta_deg = round(math.degrees(theta), 2)
print(r, theta, theta_deg)

1.41 0.79 45.26

In [ ]:
z_simplified = cmath.rect(r, theta)
print(z_simplified)

(0.9924218950696528+1.001598114108827j)

5)  Explain boolean data type with 10 examples.
* Python boolean type is one of the built-in data types provided by Python, which represents one of the two values i.e. True or False.
* Generally, it is used to represent the truth values of the expressions.
* The boolean value can be of two types only i.e. either True or False.
* The output <class ‘bool’> indicates the variable is a boolean data type.
* For Examples:

In [2]:
Input: 1==1

In [3]:
Input: 2<1

In [5]:
print(10 > 9)

True

In [6]:
print(10 == 9)

False

In [7]:
print(10 < 9)

False

In [8]:
a = 20
b = 30

print(a == b)
print(100 < b)
print(b > a)
print(20 >= a)
print(90 >= a)
print(b != a)

False
False
True
True
True
True

6) Type conversion/ type casting.
*  Python defines type conversion functions to directly convert one data type to another which is useful in day-to-day and competitive programming.
*  The act of changing an object’s data type is known as type conversion.

*  Converting Int to float.

In [9]:
integer_number = 123
float_number = 1.23

new_number = integer_number + float_number

# display new value and resulting data type
print("Value:",new_number)
print("Data Type:",type(new_number))

Value: 124.23
Data Type: <class 'float'>

In [13]:
a = 1
b = float (a)

In [14]:
intValue = 10
floatValue = float(intValue) # Using float() function
print("Integer value:", intValue)
print("Float value:", floatValue)

Integer value: 10
Float value: 10.0

In [15]:
a = 37.5
b = int (a)
print (b)

37

*  Converting int to complex.

In [16]:
# Take an intger
a = 5
print('Input', a, type(a), sep='\n')

# Convert int to complex
output = complex(a)
print('\nOutput', output, type(output), sep='\n')

Input
5
<class 'int'>

Output
(5+0j)
<class 'complex'>

In [17]:
a = 37
b = complex (a)
print (b)

(37+0j)

In [18]:
x = 248
y = complex (x)
print(y)

(248+0j)

In [19]:
xy = 700
yz = complex (xy)
print(yz)

(700+0j)

*  Converting float to int.

In [20]:
# conversion from float to int

num = 9.3

# printing data type of 'num'
print('type:',
      type(num).__name__)

# conversion to int
num = int(num)

# printing data type of 'num'
print('converted value:', num,
      ', type:', type(num).__name__)

type: float
converted value: 9 , type: int

In [25]:
float_number = 3.6
int_number = int(float_number)
print(int_number)

3

In [27]:
float_number = 77.5
int_number = int(float_number)
print(int_number)

77

In [28]:
float_num = 3.14159
int_num = int(float_num)
print(int_num)

3

Converting float to complex.

In [29]:
real_part = 7.3
complex_number = complex(real_part)
print(complex_number)

(7.3+0j)

In [30]:
complex_number = 3 + 4j

real_part_float = float(complex_number.real)

print(&quot;Complex Number:&quot;, complex_number)
print(&quot;Real Part as Float:&quot;, real_part_float)

SyntaxError: invalid syntax (<ipython-input-30-99b8013a4a23>, line 5)

In [31]:
a = 76.9
complex_number = complex(a)
print(complex_number)

(76.9+0j)