1) Loop Statement.
*  Python programming language provides two types of Python loopshecking time.For loop and While loop to handle looping requirements. Loops in Python provides three ways for executing the loops.
*  While loop- In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.
*  Python While Loop Syntax:
  
   while expression:
    
    statement(s)

In [ ]:
count = 0
while (count < 3):
    count = count + 1
    print ("Hello World")

Hello World
Hello World
Hello World

In [ ]:
i = 20

while i <= 50:
  print (i)
  i = i + 20

20
40

*  For loop- The for loop iterates over the elements of sequence in order. In each iteration, the body of the loop is executed.
*  The syntax of a for loop:

   for val in sequence:
   
   #statement(s)

In [ ]:
n = 4

for i in range(0,n):
  print(i)

0
1
2
3

In [ ]:
#list data
h = ["P", "Y", "T", "H", "O", "N"]

for x in h:
  print(x)

P
Y
T
H
O
N

In [ ]:
#tuple data
tup = ("helloworld", "datascience")

for i in tup:
  print(i)

helloworld
datascience

In [ ]:
#dict data
dict = {"name": "John", "age": "24", "city": "Los Angeles"}

for key,values in dict.items():
  print (key,values)

name John
age 24
city Los Angeles

2) Write python program to check given year is a leap year or not.

In [ ]:
years = [2020, 2021, 2022, 2023, 2024]

for x in years:
  if x % 4 == 0 :
      print (f"{x} is a leap year")
  else:
      print (f"{x} is not a leap year")

2020 is a leap year
2021 is not a leap year
2022 is not a leap year
2023 is not a leap year
2024 is a leap year

3) Write a python program to find  a given number is even or odd.

In [ ]:
numbers = 1, 3, 4, 5, 8, 10

for i in numbers:
  if i % 2 == 0:
    print (f"{i} is even")
  else:
    print (f"{i} is odd")

1 is odd
3 is odd
4 is even
5 is odd
8 is even
10 is even

4) Write a python program to check if a list is empty or not.

In [ ]:
my_list = []

for i in my_list:
  if not my_list:
    print ("The list is not empty")
  else:
    print ("The list is empty")

5) Write a python code to calculate grades of students.

In [ ]:
marks = [45, 90, 87, 58]

for i in marks:
  if i >= 90:
    print ("A")
  elif i >= 80:
    print ("B")
  elif i >= 70:
    print ("C")
  elif i >= 60:
    print ("D")
  elif i >= 50:
    print ("E")
  else:
    print ("F")

F
A
B
E

6) Check whether given word is a palindrome or not.

In [ ]:
word = input ("Enter your word")

for i in word:
  if word == word [::-2]:
    print ("The word is a palindrome.")
  else:
    print ("The word is not a palindrome.")

Enter your word A
The word is not a palindrome.
The word is not a palindrome.

7) Write a python program to find the smallest among the three numbers.

In [ ]:
def main():

  smallest = None
  while True :
    num= int(input("Please enter a number "))

    if num == 0:
      print("Program aborted")
      break
    elif smallest is None:
      smallest = num
    elif num < smallest:
        smallest = num

  print("Your smallest number was", smallest)

main()

Please enter a number 6,78,-1

ValueError: invalid literal for int() with base 10: '6,78,-1'

8) Find the second largest number in the list.

In [ ]:
my_list = [10, 20, 30, 40, 50]
largest = second_largest = 0

for num in my_list:
    if num > largest:
        second_largest = largest
        largest = num
    else:
        second_largest = num

print(second_largest)

40

9) Calculate BMI and categorize it.

In [ ]:
n = 0
h=int(input("Enter your height in cm: "))
w=int(input("Enter your Weight in Kg: "))

for n in range(1):
  BMI=w/(h*h)
  if(BMI<=18):
        print("You are underweight")
  elif(BMI<=25):
        print("You are Healthy")
  elif(BMI<=30):
        print("You are overweight")
  else:
        print("Obesity")

Enter your height in cm: 152
Enter your Weight in Kg: 44
You are underweight

10) Write  a python program to check vote eligibilty.

In [ ]:
age = [10, 34, 22, 5, 90]

for x in age:
  if x >= 18:
     print(f"Age {x} is  eligible to vote.")
  else:
     print(f"Age {x} is not eligible to vote.")

Age 10 is not eligible to vote.
Age 34 is  eligible to vote.
Age 22 is  eligible to vote.
Age 5 is not eligible to vote.
Age 90 is  eligible to vote.

11) Write python program to check person's age belong to which group.

In [ ]:
i = 0
age_group = int(input("Enter your age: "))

for i in range(1):
    if age_group <= 22:
       print ("Belongs to school group")
    elif age_group >= 22 and age_group <= 50:
       print ("Belongs to work group")
    elif age_group >= 50:
       print ("Belongs to retire group")
    else:
       print (senior)

Enter your age: 10
Belongs to school group