1) Define tuples.
-  Tuples are used to store multiple items in a single variable.
*  Tuple is one of 4 built-in data types in Python used to store collections of data.
*  A tuple is a collection which is ordered and unchangeable.
*  Tuples are written with round brackets.

2) Give 10 examples of tuples.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
name = ("Chitra", "Rupali", "Riya")
print (type(name))

<class 'tuple'>

In [ ]:
numbers = (1, 2, -5)
print(numbers)

(1, 2, -5)

In [ ]:
languages = ("Java", "Python", "Javascript")
print (languages)

('Java', 'Python', 'Javascript')

In [ ]:
numbers = (25, 34, 57)
print (numbers)

(25, 34, 57)

In [ ]:
cars = ("Audi", "Mercedes", "Range rover")
print (cars)
print (type(cars))

('Audi', 'Mercedes', 'Range rover')
<class 'tuple'>

In [ ]:
my_mixed_tuple = ('Hello', 123, True)
print (my_mixed_tuple)

('Hello', 123, True)

In [ ]:
my_numbers = (1, 2, 3)
print (my_numbers)

(1, 2, 3)

In [ ]:
fruits = ("Mango", "Banana", "Cherry", "Apple")
print (fruits)

('Mango', 'Banana', 'Cherry', 'Apple')

In [ ]:
number_tuple = (10, 20, 25.75)
print(number_tuple)

(10, 20, 25.75)

3) Accessing of tuples.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

4) Operation in tuples.

In [ ]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'java')
print (tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'java')

In [ ]:
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

In [ ]:
name = ("Chitra", "Riya", "Rupali")
a = (5,6,7,8,9)
print(name + a)

('Chitra', 'Riya', 'Rupali', 5, 6, 7, 8, 9)

In [ ]:
numbers = (225, 335, 678, 890, 569)
print (numbers*10)

(225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569, 225, 335, 678, 890, 569)

In [ ]:
my_tuple = ("Jane", "John", "Emily", "Matt")
print (my_tuple*5)

('Jane', 'John', 'Emily', 'Matt', 'Jane', 'John', 'Emily', 'Matt', 'Jane', 'John', 'Emily', 'Matt', 'Jane', 'John', 'Emily', 'Matt', 'Jane', 'John', 'Emily', 'Matt')

5) Methods of tuples.
-  count(): The count() method of Tuple returns the number of times the given element appears in the tuple.

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(7)
print(x)

2

*  index(): Searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3