1) Define about dictionary.
-  A Python dictionary is a data structure that stores the value in key: value pairs.
*  Python dictionaries are essential for efficient data mapping and manipulation in programming.
*  The keys in a dictionary must be immutable, which means they cannot be changed after they are created.
*  This is why types like strings, numbers, and tuples can be used as dictionary keys, while lists and other dictionaries cannot.

2) Create 10 examples using ' ' and " ".

In [ ]:
my_dict = {'name':'Chitra', 'age':22, 'city':'Maharashtra'}
print (my_dict)

{'name': 'Chitra', 'age': 22, 'city': 'Maharashtra'}

In [ ]:
my_dict = {"name": "Chitra", "age": 22, "city": "Maharashtra"}
print (my_dict)

{'name': 'Chitra', 'age': 22, 'city': 'Maharashtra'}

In [ ]:
country_capitals = {"Germany": "Berlin", "Canada": "Ottawa", "England": "London"}
print (country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

In [ ]:
fruits = {'apple': 10,'banana': 20,'orange': 30,'grapes': 10}
print (fruits)

{'apple': 10, 'banana': 20, 'orange': 30, 'grapes': 10}

In [ ]:
#using dict function
fruits = dict([("apple", 10),("banana", 20),("orange", 30)])
print (fruits)

{'apple': 10, 'banana': 20, 'orange': 30}

In [ ]:
student = {'name': 'Chitra', 'age':22, 'city': 'Maharashtra'}
print (student['name'])

Chitra

In [ ]:
student = {"name": "Chitra", "age": 22, "city": "Hyderabad"}
print (student["city"])

Hyderabad

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}

In [ ]:
products = {'Jeans': 49.99, 'T-Shirt': 14.99, 'Suit': 89.99}
print (products)

{'Jeans': 49.99, 'T-Shirt': 14.99, 'Suit': 89.99}

3) Modify the dictionaries.

In [ ]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
thisdict["year"] = 2018
print (thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
main_dict = {'a': 1, 'b': 2}
main_dict['a'] = 9
print (main_dict)

{'a': 9, 'b': 2}

In [ ]:
mydict = {"fruit":"mango","cost": 75}
mydict["cost"] = 85
print (mydict)

{'fruit': 'mango', 'cost': 85}

In [ ]:
student = {"name": "Chitra","course": "data analyst","age": 21}
student["age"] = 22
print (student)

{'name': 'Chitra', 'course': 'data analyst', 'age': 22}

In [ ]:
mydict = {"a": 125,"b": 657,"c": 555,"d":890}
mydict["c"] = 444
print (mydict)

{'a': 125, 'b': 657, 'c': 444, 'd': 890}

4) Add a new entry.

In [ ]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
d = {'key': 'value'}
print(d)

d['mynewkey'] = 'mynewvalue'
print(d)

{'key': 'value'}
{'key': 'value', 'mynewkey': 'mynewvalue'}

In [ ]:
student = {"name":"chitra","age": 22}
student["state"] = "Maharashtra"
student["course"] = "Data analyst"
print (student)

{'name': 'chitra', 'age': 22, 'state': 'Maharashtra', 'course': 'Data analyst'}

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3}
data['d'] = 4
data['e'] = 5
data['f'] =6
print (data)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
  default_data = {'item1': 1,'item2': 2}
  default_data['item3'] = 3
  print (default_data)

{'item1': 1, 'item2': 2, 'item3': 3}

5) Methods for dictionary.
-  get(): Returns the value of the specified key.

In [ ]:
my_dict = {"fruit": "Apple","cost": 75}
my_dict.get("cost")

75

*  key(): Returns a list containing the dictionary's keys.

In [ ]:
my_dict = {"fruit": "Apple","cost": 75}
my_dict.keys()

dict_keys(['fruit', 'cost'])

*  values(): Returns a list of all the values in the dictionary.

In [ ]:
my_dict = {"fruit": "apple","cost": 75}
my_dict.values()

dict_values(['apple', 75])

*  items(): Returns a list containing a tuple for each key value pair.

In [ ]:
my_dict = {"fruits": "apple","cost": 75}
my_dict.items()

dict_items([('fruits', 'apple'), ('cost', 75)])

*  pop(): Removes the element with the specified key.

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.pop("model")
print (car)

{'brand': 'Ford', 'year': 1964}

*  popitems(): Removes the last inserted key-value pair.

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.popitem()
print (car)

{'brand': 'Ford', 'model': 'Mustang'}

*  update(): Updates the dictionary with the specified key-value pairs.

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.update({"color": "White"})
print (car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

*  clear(): Removes all the elements from the dictionary.

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.clear()
print (car)

{}

*  copy(): Returns a copy of the dictionary.

In [ ]:
my_dict = {"fruit": "apple","cost": 75}
my_dict.copy()

{'fruit': 'apple', 'cost': 75}

*  fromkeys: Returns a dictionary with the specified keys and value.

In [ ]:
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

*  setdefault(): Returns the value of the specified key. If the key does not exist: insert the key, with the specified value.

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("model", "Bronco")
print(x)

Mustang