1) Define about sets.
-  A Set in Python programming is an unordered collection data type that is iterable and has no duplicate elements.
*   While sets are mutable, meaning you can add or remove elements after their creation, the individual elements within the set must be immutable and cannot be changed directly.

2) Give 10 examples of sets.

In [ ]:
fruits = {"apple", "mango", "kiwi"}
print (type(fruits))

<class 'set'>

In [ ]:
fruits = {"apple", "mango", "kiwi"}
print (fruits)

{'kiwi', 'mango', 'apple'}

In [ ]:
myset = set(["a", "b", "c"])
print(myset)

{'c', 'a', 'b'}

In [ ]:
sample_set = {'Mark', 'Jessa', 25, 75.25}
print(sample_set)

{25, 75.25, 'Mark', 'Jessa'}

In [ ]:
book_set = set(("Harry Potter", "Angels and Demons", "Atlas Shrugged"))
print(book_set)

{'Angels and Demons', 'Harry Potter', 'Atlas Shrugged'}

In [ ]:
book_set = set(("Harry Potter", "Angels and Demons", "Atlas Shrugged"))
print(book_set)
print(type(book_set))

{'Angels and Demons', 'Harry Potter', 'Atlas Shrugged'}
<class 'set'>

In [ ]:
names = { "Eric", "Ali", "John" }
print (names)

{'Eric', 'Ali', 'John'}

In [ ]:
skills = {'Python programming','Databases', 'Software design'}
print (skills)

{'Python programming', 'Databases', 'Software design'}

3) Convert one type to another set.

In [ ]:
numbers = {2, 4, 6 ,8 , 10, 12}
a = set(numbers)
print (a)
print (type(a))

{2, 4, 6, 8, 10, 12}
<class 'set'>

In [ ]:
fruits = {"Mango", "Apple"}
b = set(fruits)
print (b)
print (type(b))

{'Mango', 'Apple'}
<class 'set'>

In [ ]:
cars = {"Mercedes", "Audi", "Range rover"}
c = set(cars)
print (c)
print (type(c))

{'Mercedes', 'Audi', 'Range rover'}
<class 'set'>

In [ ]:
name = {"Chitra","Rupali"}
a = set(name)
print (a)
print (type(a))

{'Chitra', 'Rupali'}
<class 'set'>

In [ ]:
mixed_sets = {"apple", "mango", 456}
z = set(mixed_sets)
print (z)
print (type(z))

{456, 'mango', 'apple'}
<class 'set'>

4) Add and update set items.

In [ ]:
list1 = [1, 2, 3]
list2 = [5, 6, 7]
list3 = [10, 11, 12]
set1 = set(list2)
set2 = set(list1)
set1.update(set2)
print(set1)
set1.update(list3)
print(set1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7, 10, 11, 12}

In [ ]:
fruits = {"Apple", "Mango", "Cherry"}
print (fruits)
fruits.add("Kiwi")
print (fruits)

{'Mango', 'Apple', 'Cherry'}
{'Mango', 'Apple', 'Kiwi', 'Cherry'}

In [ ]:
my_sets = {1, 2, 3, 4, 5}
my_sets.add(6)
print (my_sets)

{1, 2, 3, 4, 5, 6}

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [1, 4, 2, 3, 5]
alphabet_set = {'a', 'b', 'c'}
set1 = set(list2)
set2 = set(list1)
set1.update(set2)
print(set1)
set1.update(alphabet_set)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'b', 'c', 'a'}

5) Removing an element from the set.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
numbers = {10, 20, 30, 40, 50}
numbers.remove(30)
print(numbers)

{50, 20, 40, 10}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [ ]:
name = {"Jack", "Micheal", "John"}
name.discard("John")
print(name)

{'Jack', 'Micheal'}

6) Python set operations.
-  union: The union of two sets is the set of all the elements, without duplicates, contained in either or both of the sets.

In [1]:
first_set = {1, 5, 7, 4, 5}
second_set = {4, 5, 6, 7, 8}
# Creating the union of the two sets
new_set = first_set | second_set
print(new_set)

{1, 4, 5, 6, 7, 8}

*  intersection: The intersection of two sets is the set of all the elements that are common to both sets.

In [2]:
first_set = {1, 5, 7, 4, 5}
second_set = {4, 5, 6, 7, 8}
# Creating the intersection of the two sets
new_set = first_set & second_set
print(new_set)

{4, 5, 7}

*  difference: The difference between the two sets is the set of all the elements present in the first set but not in the second.

In [4]:
first_set = {1, 5, 7, 4, 5}
second_set = {4, 5, 6, 7, 8}
# Creating the difference of the two sets
new_set = first_set - second_set
print(new_set)

{1}

*  symmetric_difference: the symmetric difference between two sets a and b includes all elements of a and b without common elements.

In [5]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print("Symmetric difference :", A ^ B)

Symmetric difference : {0, 1, 3, 5, 6, 8}

7) Methods in sets.
*  clear(): Removes all the elements from the list.

In [6]:
x = {10, 20, 30, 40, 50}
x.clear()
print(x)

set()

*  add(): Adds an element to the set.

In [7]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'banana', 'cherry'}

*  copy(): Returns a copy of the set.

In [8]:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'banana', 'cherry'}

*  difference(): Returns a set containing the difference between two or more sets.

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'banana', 'cherry'}

*  difference_update(): Removes the items in this set that are also included in another, specified set.

In [10]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'banana', 'cherry'}

*  discard(): Remove the specified item.

In [11]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

* Intersection(): Returns a set, that is the intersection of two other sets.

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

*  intersection_update(): Removes the items in this set that are not present in other, specified set(s).

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

*  isdisjoint(): Returns whether two sets have a intersection or not.

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

*  issubset(): Returns whether another set contains this set or not.

In [15]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

*  issuperset(): Returns whether this set contains another set or not.

In [16]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

*  pop(): Removes an element from the set.

In [17]:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'banana', 'cherry'}

*  remove(): Removes the specified element.

In [18]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

*  symmetric_difference(): Returns a set with the symmetric differences of two sets.

In [19]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'cherry', 'banana', 'google'}

*  symmetric_difference_update(): Inserts the symmetric differences from this set and another.

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'cherry', 'banana', 'google'}

*  union(): Return a set containing the union of sets.

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'apple', 'banana', 'microsoft', 'cherry', 'google'}

*  update(): Update the set with the union of this set and others.

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'apple', 'banana', 'microsoft', 'cherry', 'google'}