1) Define about strings.
-  Strings in python are surrounded by either single quotation marks, or double quotation marks.

*  'hello' is the same as "hello".
*  In Python, a string is a sequence of characters.

2) Create 10 examples using ' ' and " " .

In [ ]:
str1 = 'Python programming'
print (str1)

name = "Python"
print (name)

message = "I love python"
print (message)

greet = 'hello'
print (greet)

x = "Cherry, Banana, Mango, Apple"
y = x*5
print (y)

name = 'chef'
print (name)

str0 = "A computer science portal for geeks"
print (str0)

abc = '1, 2, 3'
print (abc)

str1 = """My name is Chitra and I'm from Maharashtra"""
print (str1)

str2 = "My name is Chitra"
print (str2)

Python programming
Python
I love python
hello
Cherry, Banana, Mango, AppleCherry, Banana, Mango, AppleCherry, Banana, Mango, AppleCherry, Banana, Mango, AppleCherry, Banana, Mango, Apple
chef
A computer science portal for geeks
1, 2, 3
My name is Chitra and I'm from Maharashtra
My name is Chitra

3) Create a string 50 characters and access any 10 using index and apply slicing in any 2 examples.

In [ ]:
#indexing
str = "I'm Chitra and I've done engineering."
print (str[7])
print (str[1])
print (str[35])
print (str[23])
print (str[-5])
print (str[-10])
print (str[30])
print (str[-1])
print (str[10])
print (len(str))

#slicing
print (str[10:23])
print (str[30:32])

t
'
g
e
r
g
e
.

37
 and I've don
ee

4) Explain about string formats.
*  1. Old style formatting (% operator):It is the oldest method of string formatting. Here we use the modulo % operator. The modulo % is also known as the “string-formatting operator”.

In [ ]:
name = "Chitra"
age = 22
formatted_string = "My name is %s and I am %d years old."%(name,age)
print (formatted_string)

My name is Chitra and I am 22 years old.

2. Format Method: This code is using {} as a placeholder and then we have called.format() method on the ‘equal’ to the placeholder.

In [ ]:
name = "Chitra"
age = 22
str = "My name is {} and I'm {} years old".format(name,age)
print (str)

My name is Chitra and I'm 22 years old

3. f-string: PEP 498 introduced a new string formatting mechanism known as Literal String Interpolation or more commonly as F-strings.The idea behind f-String in Python is to make string interpolation simpler.

In [ ]:
name = "Chitra"
str =f"My name is {name}."
print (str)

My name is Chitra.

5) Apply operations.
-  Concatenation:

In [ ]:
str1 = "Hello"
str2 = "World"
str3 = str1+str2
print (str3)

HelloWorld

*  Repitition:

In [ ]:
str1 = " Hello World "
str2 =str1*10
print (str2)

 Hello World  Hello World  Hello World  Hello World  Hello World  Hello World  Hello World  Hello World  Hello World  Hello World

*  Slicing:

In [ ]:
String = 'ASTRING'

# Using slicing
s1 = slice(3)
s2 = slice(1, 5, 2)
s3 = slice(-1, -12, -2)

print("String slicing")
print(String[s1])
print(String[s2])
print(String[s3])

String slicing
AST
SR
GITA

*  Indexing:

In [ ]:
str = "My name is Chitra."
print (str[10:-1])
print (str[8:10])

 Chitra
is

6) Apply methods.
*  len(): It is used to count the length of the string.

In [ ]:
name = "Chitra"
length = len (name)
print (length)

6

*  lower()/upper(): Converts all characters in a string to lowercase/uppercase.

In [ ]:
name = "Chitra"
print(name.upper())

CHITRA

*  Strip(): Removes any leading and trailing characters.

In [ ]:
name = " Chitra "
stripped_string = name.strip()
print(stripped_string)

Chitra

*  replaces(): Replaces occurrences of a substring within the string.

In [ ]:
str1 = "Hi,I am Chitra."
str2 = str1.replace ("Chitra","Rupali")
print (str2)

Hi,I am Rupali.

*  spilt(): Splits the string at the specified delimiter and returns a list of substrings.

In [ ]:
str1 = "I live in Maharashtra."
str2 = str1.split()
print (str2)

['I', 'live', 'in', 'Maharashtra.']

*  join(): Concatenates elements of an iterable with a specified separator.

In [ ]:
fruits = "Cherry","Apple","Mango"
print (" ".join(fruits))

Cherry Apple Mango

*  find(): Returns the lowest index in the string where the substring is found.

In [ ]:
str1 = "I live in Maharashtra."
print (str1.find('live'))

2

*  startswith()/endswith(): Checks if the string starts with the specified prefix/suffix.

In [ ]:
name = "Hyderabad"
str1 = name.endswith('bad')
print (str1)

True

 *   capitalize():Converts the first character of the string to a capital (uppercase) letter.

In [ ]:
str = "mango"
str1 = str.capitalize()
print (str1)

Mango

*  casefold(): Implements caseless string matching.

In [ ]:
city ="MANgO"
str = str.casefold()
print (str)

mango

*  center(): Pad the string with the specified character.

In [ ]:
city = "Maharashtra"
print (city.center(45))

                 Maharashtra

*  count(): Returns the number of occurrences of a substring in the string.

In [ ]:
str = "I live in Maharashtra"
print (str.count('live'))

1

*  encode(): Encodes strings with the specified encoded scheme.

In [ ]:
str1 = "Maharashtra"
str2 = str1.encode()
print (str2)

b'Maharashtra'

*  expandstab(): Specifies the amount of space to be substituted with the “\t” symbol in the string.

In [ ]:
string = "\t\tCenter\t\t"
print(string.expandtabs())

                Center

*  find(): Returns the lowest index of the substring if it is found.

In [ ]:
str = "My name is Chitra."
print = str.find('name')

*  format(): Formats the string for printing it to console.

In [ ]:
name="chitra"
age=22
formated_string="my name is {} and i'm {} years old" .format(name,age)
print(formated_string)

TypeError: 'int' object is not callable