1) Explain about variables?
-  * Python Variable is containers that store values. Python is not “statically typed”.
   * We do not need to declare variables before using them or declare their type.
   * A variable is created the moment we first assign a value to it.
   *  A Python variable is a name given to a memory location. It is the basic unit of storage in a program.
   * Python has no command for declaring a variable.

   *  A variable is created the moment you first assign a value to it.

2) Rules of variables.
-  * A Python variable name must start with a letter or the underscore character.
   *  A Python variable name cannot start with a number.
   *  A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
   *  Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
   *  The reserved words(keywords) in Python cannot be used to name the variable in Python.

3) Types of Variables.
-  There are two main ways to handle variables: single variables and multiple variables.
   * Single Variables- A single variable in Python is a container that holds a single value. This value can be of any data type, such as an integer, float, string, or even a complex object. For example,

In [ ]:
# Assigning a single value to a variable
x = 42
print(x)  # Output: 42

# Another example with a string
name = "Alice"
print(name)  # Output: Alice

42
Alice

*  Multiple Variables-Python allows you to work with multiple variables simultaneously. This can be done in several ways, such as multiple assignment, unpacking, and using data structures like lists or tuples.For example,

In [ ]:
# Assigning values to multiple variables
a, b, c = 1, 2, "hello"
print(a, b, c)  # Output: 1 2 hello

1 2 hello

4) 10 examples of each & every types.
-  Single variable-

In [ ]:
x = 10 # number of apples

In [ ]:
temperature = 25.5 # temperature in degree  celsius

In [ ]:
height = 100 # height of a building in meters

In [ ]:
age = 30 # age of a person

In [ ]:
length = 50.0 # length of a rope in meters

In [ ]:
speed = 80 # speed of a car in meters

In [ ]:
balance = 1500.75 # amount  of money in a bank account

In [ ]:
time_taken = 3.5 # time taken for a task in hours

In [ ]:
mass = 70 # mass of an object in kilograms

In [ ]:
price = 20.99 # price of a product in dollars

Multi*multi variables-

In [ ]:
students = {
    "Alice": ["Math", "Science"],
    "Bob": ["Math", "History"],
    "Charlie": ["Science", "History"]
}

In [ ]:
products = {
    "Laptop": ["Electronics", "Computers"],
    "Chair": ["Furniture", "Office"],
    "Desk": ["Furniture", "Office", "Home"]
}

In [ ]:
authors = {
    "Author1": ["Book1", "Book2"],
    "Author2": ["Book2", "Book3"],
    "Author3": ["Book1"]
}

In [ ]:
movies = {
    "Movie1": ["Actor1", "Actor2"],
    "Movie2": ["Actor1", "Actor3"],
    "Movie3": ["Actor2", "Actor3"]
}

In [ ]:
projects = {
    "ProjectA": ["Employee1", "Employee2"],
    "ProjectB": ["Employee2", "Employee3"],
    "ProjectC": ["Employee1", "Employee3"]
}

Multi*one variables-

In [ ]:
# Example: Students enrolled in courses
courses = {
    'Math': ['Alice', 'Bob', 'Charlie'],
    'Science': ['Alice', 'David'],
    'History': ['Bob', 'Eve']
}

In [ ]:
from collections import defaultdict

# Example: Authors and their books
author_books = defaultdict(list)
author_books['George Orwell'].append('1984')
author_books['George Orwell'].append('Animal Farm')
author_books['J.K. Rowling'].append('Harry Potter and the Philosopher\'s Stone')

In [ ]:
import pandas as pd

# Example: Employees in departments
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
}
df = pd.DataFrame(data)

In [ ]:
# Example: Cities where each country has cities listed
country_cities = {
    'USA': {'New York', 'Los Angeles', 'Chicago'},
    'Canada': {'Toronto', 'Vancouver'},
    'UK': {'London', 'Manchester', 'London'}  # 'London' is not duplicated
}

In [ ]:
class Student:
    def __init__(self, name):
        self.name = name
        self.courses = []

class Course:
    def __init__(self, title):
        self.title = title
        self.students = []

# Example: Creating instances
math = Course('Math')
alice = Student('Alice')
bob = Student('Bob')

# Enrolling students
math.students.append(alice)
math.students.append(bob)
alice.courses.append(math)
bob.courses.append(math)